<!DOCTYPE html>
                <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Document</title>
                </head>
                <body>
                    
                    <div class="template">
                        <div>
                        <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">OTP Verification Email 😊</h2>
                        </div>

                    <div>
                        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Dear User, <br>
                        Thankyou for registering with us. To complete your registration, please use the following 
                            OTP(One-Time-Password) to verify your account:
                        </p>
                        </div>
                
                        <div style="background-color: lightcyan;height: fit-content; width: 200px;text-align: center;padding: 5px;">
                        <h2 style="font-size:40px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">${otp}</h2>
                        </div>
                
                        
                        <p style="color: gray;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">If you have any questions or need assistance, please feel free to reach out to us at
                            singlarivanshu@gmail.com. We are are here to help!
                        </p>
                    
                
                    </div>
                
                </body>
                </html>